<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="NodaTime" version="3.0.9" />
  <package id="Npgsql" version="6.0.7" />
  <package id="Npgsql.Json.NET" version="6.0.7" />
  <package id="Npgsql.NodaTime" version="6.0.7" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.0" />
  <package id="System.Threading.Channels" version="6.0.0" />
</packages>